* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(229, 226, 226);
}

header {
    background-color: whitesmoke;
    padding: 20px 0;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    color: #0f0202;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #0e0202;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0056b3;
}

.contain {
    text-align: center;
    color: #000;
    font-size: 24px;
    margin: 20px 0;
}

h3 {
    text-align: center;
    color: black;
    font-size: 30px;
}

.container-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки с равной шириной */
    gap: 20px; /* Отступы между блоками */
    max-width: 1200px;
    margin: 20px auto;
}

.block {
    width: 100%;
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.block img {
    width: 100%;
    height: auto;
    max-height: 320px;
}

.description {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.description a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.description a:hover {
    color: red;
}
